<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <br>
            <h1 class="display-4">VOD Annotator</h1>
        </div>
    </div>

    <router-outlet></router-outlet>

    <p style="text-align: center; margin: 30px;" class="text-muted">
        Made by <a href="https://twitter.com/6kRt62r2zvKp5Rh" target="_blank">jonnjonn</a>. Code is on <a href="https://github.com/hopskipnfall/vod-annotator" target="_blank">GitHub</a>.
    </p>
</div>
