<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <br />
          <h1 class="display-6">
            VOD Annotator
            <button type="button" class="btn btn-link" [routerLink]="['/']">
              Annotate a new video
            </button>
          </h1>
        </div>
      </div>

      <div style="text-align: center">
        <app-player
          [youtubeId]="annotations.youtubeId"
          [width]="playerWidth"
        ></app-player>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-inline d-flex align-items-center">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Go back 5s"
                placement="bottom"
                (click)="goForwardSeconds(-5)"
              >
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >replay_5
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Left arrowkey to go back 2s"
                placement="bottom"
                (click)="goForwardSeconds(-2)"
              >
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >fast_rewind
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Comma to go back 1 frame"
                placement="bottom"
                (click)="goForwardSeconds(-1 / 60)"
              >
                <mat-icon inline="true" aria-hidden="false" aria-label="period"
                  >chevron_left
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Spacebar to play/pause"
                placement="bottom"
                (click)="togglePlayback()"
              >
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >play_arrow
                </mat-icon>
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >pause
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Period to go forward 1 frame"
                placement="bottom"
                (click)="goForwardSeconds(1 / 60)"
              >
                <mat-icon inline="true" aria-hidden="false" aria-label="period"
                  >chevron_right
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Right arrowkey to go forward 2s"
                placement="bottom"
                (click)="goForwardSeconds(2)"
              >
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >fast_forward
                </mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                tooltip="Go forward 5s"
                placement="bottom"
                (click)="goForwardSeconds(5)"
              >
                <mat-icon
                  inline="true"
                  aria-hidden="false"
                  aria-label="right arrow key"
                  >forward_5
                </mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div
            class="form-inline d-flex align-items-right"
            style="float: right"
          >
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary"
                (click)="createShareLink()"
                tooltip="Copied to clipboard."
                triggers="focus"
              >
                Share
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="saveAsCsv()"
              >
                Download CSV
              </button>
              <button type="button" class="btn btn-primary" (click)="addNote()">
                Add Note
              </button>
            </div>
          </div>
        </div>
      </div>

      <p style="text-align: center; margin: 30px" class="text-muted">
        Made by
        <a href="https://twitter.com/6kRt62r2zvKp5Rh" target="_blank">nue</a>.
        Code is on
        <a href="https://github.com/hopskipnfall/vod-annotator" target="_blank"
          >GitHub</a
        >.
      </p>
    </div>

    <div
      class="col-sm memo-list-bg"
      style="overflow-y: scroll; max-height: 100vh"
    >
      <app-memo-list [annotations]="annotations" #memoList></app-memo-list>
    </div>
  </div>
</div>
